<div>
  <div class='row vh-100' style="background-color: rgb(132, 75, 9);">

    <div class="col-2 vh-100" style=" background-color: rgb(241, 186, 103);">
      <div class=" mt-5  d-flex row g-2">
        <button id="view-recipes" type="button">Back</button>
      </div>

    </div>

    <div class="col-10 vh-100  d-flex justify-content-center" style=" height: 110px;">

      <div style="display: flex;padding-top:150px; width: inherit;justify-content: space-evenly;">
        <div>
          <div class="add-recipe-container">
          <form class="new-recipe-form">
                  <h2>
        Add a new recipe!
      </h2>
            <label for="recipe_name">
              Recipe Name:
            </label>
            <br />
            <textarea id="nameid" name="recipe_name" rows="1" 
            cols="30" style="font-size: 24px;"> {{name}}</textarea>
            <br />
            <br />
            <label for="author">
              Author:
            </label>
            <br />
            <textarea id="authorid" name="author" rows="1" cols="30" 
            style="font-size: 24px;"> {{author}}</textarea>
            <br />
            <br/>
            <label for="ingredients">
              Recipe Ingredients:
            </label>
            <br/>
            <textarea id="ingredientsid" onInput="handleInput(event)" 
            name="ingredients" rows="5" cols="30" 
            style="font-size: 24px;" wrap=physical> {{ingredients}}</textarea>
            <br />
            <br />
              <label for="instructions">
                Recipe Instructions:
              </label>
              <br/>
              <textarea id="instructionsid" onInput="handleInput(event)" 
              name="instructions" rows="6" cols="30" 
              style="font-size: 24px;" wrap=physical>{{instructions}}</textarea>
              <br />
              <br />
              <label for="category">
                Food Category
              </label>
              <br />
              <select id="categoryid" name="category" size="1"
              style="font-size: 20px;width: -webkit-fill-available;">
                <option style="font-size: 24px;" value=""></option>
                <option style="font-size: 24px;" value=1>Meat</option>
                <option style="font-size: 24px;" value=2>Bread</option>
                <option style="font-size: 24px;" value=3>Soup</option>
                <option style="font-size: 24px;" value=4>Breakfast</option>
                <option style="font-size: 24px;" value=5>Lunch</option>
                <option style="font-size: 24px;" value=6>Dinner</option>
                <option style="font-size: 24px;" value=7>Desert</option>
              {{category_id}}
              </select>
              <br/>
              <br/>
              <label for="style">
              Food Style
              </label>
              <br />
              <select id="styleid" name="style" size="1"
              style="font-size: 20px;width: -webkit-fill-available;">
                <option style="font-size: 24px;" value=""></option>
                <option style="font-size: 24px;" value=1>American</option>
                <option style="font-size: 24px;" value=2>French</option>
                <option style="font-size: 24px;" value=3>Italian</option>
                <option style="font-size: 24px;" value=4>Mexican</option>
              {{style_id}}
              </select>
              <br/>
              <br/>
              <button type="submit" value="Submit">
                Submit
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/add-recipe.js"></script>
<script src="/js/btnRoutes.js"></script>
