<div class="recipe-card">
  <div class="recipe-card-header">
    {{recipe_name}}
  </div>
  <div class="card-body">
    <p>
      author:
      {{author}}
    </p>
    <p>
      instructions:
      {{instructions}}
    </p>
    <p>
      ingredients:
      {{ingredients}}
    </p>
  </div>
</div>

<!-- This is the form for updating a dish. According to MVC framework, what is this form responsible for? -->
<!-- This form is responsible for the UI logic, or the components in the View that the user will interact with. -->
<!--What isn't it responsible for? -->
<!--It is not responsible for data-related logic, requests, or business-logic. -->

<div class="edit-recipe-container">
  <h2>
    Update recipe
  </h2>
  <form class="edit-recipe-form">
    <label for="recipe_name">
      recipe Name:
    </label>
    <br />
    <textarea id="recipe_name" name="recipe_name" rows="1" cols="1">
      {{recipe_name}}
    </textarea>
    <br />
    <label for="author">
      author:
    </label>
    <br />
    <textarea id="author" name="author" rows="1" cols="1">
      {{author}}
    </textarea>
    <br />
    <label for="instructions">
      instructions:
    </label>
    <br />
    <textarea id="instructions" name="instructions" rows="15" cols="5">
      {{instructions}}
    </textarea>
    <br />
    <label for="ingredients">
      ingredients:
    </label>
    <br />
    <textarea id="ingredients" name="ingredients" rows="30" cols="5">
      {{instructions}}
    </textarea>
    <br />
    
    <br />
    <button type="submit" value="Submit">
      Submit
    </button>
  </form>
</div>
<script src="edit recipe js, link this later"></script>